$primary-color: #1abbe9;
$secondary-color: #f59e01;
$black-color: #000000;
$white-color: #ffffff;
$lightblue-color: #d9f2f9;
$default-font-family: 'PT Sans',
sans-serif;
$secondary-font: 'Pacifico',
cursive;
$img-path: "../images";