.btn {
    border-radius: 0 !important;
}

.btn-primary {
    background: $primary-color;
    border-color: $primary-color;
}

.btn-secondary {
    background: $secondary-color;
    border-color: $secondary-color;
}